<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
    <style>
      .api {
        max-width: 800px;
        margin: auto;
        background-color: rgb(253, 255, 181);
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
      }
       .data{
        text-align:center;
        color: rgb(200,30,40);
       }

       p{
        color: rgb(150,50,80);
       }

    </style>
</head>
<body>
  <div class="api">
    <h1 class="data">Weather Data API</h1>
    <p>URL Format: http://127.0.0.1:5000/api/v1/station/sate</p>
    <p>For one station for one date: http://127.0.0.1:5000/api/v1/10/2001-01-26</p>
    <p>For one station for all dates: http://127.0.0.1:5000/api/v1/10</p>
    <p>For one station for one year: http://127.0.0.1:5000/api/v1/yearly/10/2001</p>
    <p>{{data|safe}}</p>
  </div>
</body>
</html>